.chart rect {
  fill: steelblue;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

.circles circle {
	fill: steelblue;
}

.circles text {
	fill: white;
	font: 10px sans-serif;
	text-anchor: middle;
}